/* Start Scroll To Top */
#scroll-top {
    width: 45px;
    height: 45px;
    padding: 9px 5px 0;
    color: #DDD;
    background: linear-gradient(to right, #96c93d, #00b09b);
    text-align: center;
    position: fixed;
    right: 18px;
    bottom: 15px;
    border-radius: 50%;
    z-index: 9999;
    display: none;
    cursor: pointer;
}
#scroll-top i {
    color: #fff;
}
/* End Scroll To Top */